p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

part{
  color: black
}

/* overwrite some settings from _book\libs\gitbook-2.6.7\css\style.css */ 
/* list-style:outside is supposed to make the second line align with first line, but it's not working. */
.book .book-summary ul.summary li span{
  cursor:not-allowed;
  opacity:1;
  white-space:normal;
  list-style:outside; 
} 